
h2{
     font-family:Arial, Helvetica, sans-serif ;  
     font-style:  normal;
     font-size: small;
     font-weight: normal;
   }
   
   
   .screen{     
     height: auto;
     width: 100vw;
     background-color: rgb(255, 255, 255);
     color: #003089;
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   
   
   .logo {
        position: relative;/* 16:9 ratio */
        height: 100;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .logo img {
      }
      
      .logotext{    
       position: relative;
       top: 0;
       left: 0;
       width: 30%;
       max-width: 700px;
       height: auto;
      }
    
     .logowheel{    
       position: relative;
       top: 0;
       left: 0;
       width: 10%;
       height: auto;
       animation: rotation 9s infinite linear;
       }
      
     
   
   form {
     display:  flex;
     flex-direction: column;
     align-items: center;
     justify-self: center;
     justify-content:center ;  
     width: 60%;
     text-align: center; 
     /* border-style: solid;
     border-color: #003089;
     border-radius: 35px;
     color: #003089; */
     padding-top: 5%;
      }
   
   .field{
       display: flex;
       flex-direction: row;
       /* justify-items: start; */
       align-items: stretch;
       justify-items: center;
       padding-top: 2%;
       padding-left: 1%;
       width: 99%;
       align-content: center;
       justify-content: space-evenly;
   }
      
   .edu{
     display: flex;
     flex-direction: row;
     justify-items: start;
     padding-top: 2%;
     width: 90%;
   }
      
   .input_text{    
        width:100%;
        display: flex;
        flex-direction: column;
      align-items: center;
      justify-content:center ;  
      position: relative;
      font-size: 1ex;
      height:auto;
    }
   
    .input_text > input{  
     width:0%;
    }
    
    header{
     width: 100%;
     display: flex;
     justify-content: center;
   }
   
   
   .navbar{  
     display: flex;
     justify-content: space-between;
     max-width: 100%;
     width: 1440px;
     color:#537FE7;
     padding-top: 2%;
   }
   
   
    input{     
        display: flex;
        width:100%;
         height: auto;
         border-radius: 10px;
         border:none;
         border: 1px solid  rgb(255, 255, 255);
    }
    input:focus,textarea:focus{
        outline: royalblue;
        border: 0.5px solid royalblue;
        box-shadow: 0 0 4px royalblue;
    
    }
    
    span{
        font-size: 12px;
        font-weight: bold;
        color: #003089;
        display: none;
    }
    
    label{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;  
        font-style: oblique;
        font-size: 20px;
        min-width: 100px;
        max-width: 20%;
        color: #003089; 
     }
    
     button{
         width:100%;
         height: auto;
         padding: 2ex;
         border: none;
         background-color: #003089;
         color: white;
         border-radius: 10px;
         /* font-weight: bold; */
         font-size: 18px;
         cursor: pointer;
         margin-top: 15px;
         margin-bottom: 30px;
     }
    
     input:invalid~span{
        display: block;
     }
   
    @media only screen and (max-width: 1200px){
   .edu{
     display: flex;
     flex-direction: column;
   }
   .edu .field{  
     display: flex;
     justify-items: end;
     padding-top: 2%;
     width: 70%;
   }
    }
   
     @media only screen and (max-width: 600px) {
   
       
   form {
     display:  flex;
     flex-direction: column;
     align-items: start;
     justify-self: center;
     justify-content:center ;  
     width: 100%;
     text-align: center; 
     border-style: solid;
     border-color: #003089;
     border-radius: 35px;
     color: #003089;
     padding-top: 5%;
      }
      
   .field{
     display: flex;
     justify-items: end;
     padding-top: 2%;
     width: 90%;
   }
   
   .edu{
     display: flex;
     flex-direction: column;
     background-color: aliceblue;
     justify-items: center;
     padding-top: 2%;
     width: 90%;
   }
    
   label{
       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;  
       font-style: oblique;
       font-size: 20px;
       min-width: 100px;
       max-width: 50%;
       align-self: flex-start;
       color: #003089; 
    }
      
     }