header{
     width: 100%;
     display: flex;
     justify-content: center;
}


.navbar{
     display: flex;
     justify-content: space-between;
     max-width: 100%;
     width: 1440px;
     color:#537FE7;
     padding-top: 2%;
}

.logo {
     width: 190px; 
     max-width: 25%; 
     height: 52px;
     max-height: 100%;
   }

.nav_sections{     
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav_item{
     color:#537FE7;
     font-weight: bold;
     padding-left: 50px;
}
.social_logo{
     color:#537FE7;
     padding-right: 50px;
}

.menu_button{
     width: 100px;
     cursor: pointer;
}


@media (max-width: 1440px) {
     /* Apply these styles when viewport width is 1440px or larger */
     .navbar {
       max-width: 1440px;
       width: 100%;
     }
   }

@media only screen and (max-width: 600px) {
     header{
          width: 100%;
          display: flex;
          justify-content: center;
     }
     
.logo {
     width: 100px; 
     height: 35px;
   }
     .navbar{
          width: 100%;
          display: flex;
     }
   }